.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.info-bar__icons img {
  width: 25px;
  padding: 10px;
}

.info-bar__user {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.info-bar__user-section {
  display: flex;
  align-items: center;
}

.info-bar__user__name {
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

.info-bar__user__tem {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  width: 40px;
  height: 10px;
  font-size: 13px;
  font-weight: bold;
}

.info-bar__user__time {
  font-size: 13px;
  color: gray;
  margin-top: 3px;
}

.info-goods {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.info-goods__img {
  background-color: gainsboro;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  margin: 10px;
}

.info-goods__title {
  margin-bottom: 5px;
  color: rgb(68, 68, 68);
}

.info-goods__price {
  font-weight: bold;
}